* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Pretendard, sans-serif;
}

body {
  color: #1f2937;
  margin: 0;
  max-width: 1920px;
  word-break: keep-all;
}

label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

input {
  display: block;
  background-color: #f3f4f6;
  border: 0;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  padding: 15px 24px;
}

#email-field, #password-field {
  margin-bottom: 24px;
}

input:focus {
  outline:1px solid #3692ff;
}

.box {

  @media (max-width: 1199px) {
    margin: 190px 52px 325px;
  }
  @media (max-width: 767px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}

.form-container {
  max-width: 640px;
  height: 618px;
  margin: 231px auto;
  
  @media (max-width: 1199px) {
    display: inline;
    margin: 0;
  }
  @media (max-width: 767px) {
    display: inline;
    margin: 0;
  }
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  width: 100%;
  background-color: #3692ff;
  color: #f3f4f6;
  border-radius: 40px;
  border: none;
  padding: 16px 124px;
}

a:link {
  text-decoration: none;
  color: #f3f4f6;
}

.easy-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e6f2ff;
  width: 100%;
  padding: 16px 23px;
  border-radius: 8px;
  margin: 24px 0;
}

.easy-login-text {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.easy-login-sns {
  display: flex;
  gap: 16px;
}

.join {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.join-page:link {
  text-decoration: underline;
  color: #3692ff;
}

.warning {
  color: #f74747;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.label-title {
  color: #1f2937;
}

.warning > input {
  border: 1px solid #f74747;
}

.box > :disabled {
  background-color: #9ca3af;
  color: #f3f4f6;
}
