* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Pretendard, sans-serif;
}

body {
  color: #1f2937;
  margin: 0;
  max-width: 1920px;
  word-break: keep-all;
}

label {
  display: block;
}

input {
  display: block;
}

input:focus {
  outline:1px solid #3692ff;
}

.form-container {
  max-width: 640px;
  height: 842px;
  margin: 231px auto;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}