* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Pretendard, sans-serif;
}

body {
  color: #1f2937;
  margin: 0;
  max-width: 1920px;
  word-break: keep-all;
}

label {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  margin-bottom: 16px;
}

input {
  display: block;
  background-color: #f3f4f6;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 16px 24px;
  border: 0;
  border-radius: 12px;
  margin-bottom: 24px;
}

input:focus {
  outline:1px solid #3692ff;
}

.form-container {
  max-width: 640px;
  height: 842px;
  margin: 231px auto;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.join {
  width: 100%;
  background-color: #9ca3af;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px 124px;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}