form {
  @media (max-width: 1199px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.Additem .edit {
  max-width: 1201px;
  width: 100%;
  margin: 0 auto;
}

.edit_title {
  margin: 24px 0;
  height: 42px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}
