.Home {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  gap: 47px;
  padding: 10px 0 9px;

  @media (max-width: 1920px) {
    padding-left: 200px;
    padding-right: 200px;
  }
  @media (max-width: 1199px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.Home > div {
  display: flex;
}

.Home .nav_logo {
  justify-content: flex-start;
  cursor: pointer;
}

.Home .nav_center {
  flex: 1;
  gap: 30px;
  padding: 11px 0 12px;
  white-space: nowrap;
}

.Home .nav_center button {
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700px;
  cursor: pointer;
}

.Home .nav_user {
  justify-content: flex-end;
  padding: 5px 0 6px;
  cursor: pointer;
}
