.item_title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;

  @media (max-width: 1199px) {
    padding: 0 24px;
  }

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.Home .item {
  max-width: 1201px;
  width: 100%;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

.pagenation_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 43px 0 53px;
}

.page_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  outline: none;
  color: #6b7280;
  cursor: pointer;
}

.active {
  background-color: #2f80ed;
  color: #f9fafb;
}
