.Bestitem {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 16px;
  overflow: hidden;
  flex-wrap: wrap;
}

.Bestitem > div {
  display: flex;
  flex-direction: column;
}

.BestiemContainer .itemImg {
  cursor: pointer;
}

.Bestitem .itemImg img {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.itemName {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.itemPrice {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.Bestitem .itemFavorit {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.Bestitem .BestiemContainer div {
  margin-bottom: 6px;
}
