.Button {
  border: none;
  padding: 0;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700px;
  cursor: pointer;
}

/* Nav 컴포넌트에서 사용할 버튼 */
.Button_nav_activate {
  color: #3692ff;
}

/*type ItemAdd = 상품 등록하기에 쓸 버튼*/
.Button_ItemAdd {
  background-color: #3692ff;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 8px 26px;
}

/* Additem페이지에서 사용할 등록 버튼 */
.Button_register {
  background-color: #9ca3af;
  color: #f3f4f6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 12px 23px;
}
