.Editinput {
  max-width: 1200px;
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  resize: none;
}

.Editinput_name,
.Editinput_price,
.Editinput_tag {
  height: 56px;
}

.Editinput_info {
  height: 282px;
}

.image-upload {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 282px;
  height: 282px;
  cursor: pointer;
  border-radius: 12px;
}

.upload_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  color: #9ca3af;
}

.hidden_input {
  display: none;
}
