.Itemtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
  white-space: nowrap;
}

.Itemtitle .Item_text {
  flex: 1;
}

.Itemtitle .Item_input input {
  width: 325px;
  height: 42px;
  padding: 9px 20px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.Itemtitle .Item_select select {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 130px;
  height: 42px;
  padding: 12px 20px;
}
