.Nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  gap: 47px;
  padding: 10px 200px 9px 200px;

  @media (max-width: 1199px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.Nav .nav_button {
  display: flex;
  gap: 30px;
}

.Nav .nav_logo {
  justify-content: flex-start;
  cursor: pointer;
}

.Nav .nav_center {
  flex: 1;
  padding: 11px 0 12px;
  white-space: nowrap;
}

.Nav .nav_user {
  justify-content: flex-end;
  padding: 5px 0 6px;
  cursor: pointer;
}
