.Totalitems {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-top: 16px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
    .TotaliemContainer:nth-child(n + 7) {
      display: none;
    }
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    .TotaliemContainer:nth-child(n + 5) {
      display: none;
    }
    padding-left: 16px;
    padding-right: 16px;
  }
}

.Totalitems > div {
  display: flex;
  flex-direction: column;
}

.TotaliemContainer .itemImg {
  cursor: pointer;
}

.Totalitems .itemImg img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

.itemName {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.itemPrice {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.Totalitems .itemTotal {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.Totalitems .TotaliemContainer div {
  margin-bottom: 6px;
}
